@charset "utf-8";
li{
    color: #66CDAA;
}
#bg-yellow{
    background-color: yellow;
}
span{
    border: 2px dotted brown;
}
.text-brown{
    color: brown;
}
.bg-orange{
    background-color: orange;
}