@charset "utf-8";
h1{
    font-size: 30px;
    text-align: center;
}
h2{
    width: 90%;
}
.item{
    width: 100px;
    height: 50%;
    background-color: #cccccc;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
div{
    width: 97%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.pic{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
a{
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    background-color:aquamarine;
    display: block;
    text-decoration:none;
}
.one{
    width: 25%;
    padding: 40px;
    background-color:beige;
    text-align: center;
}
.box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
p{
    width: 90%;
}

