@charset "utf-8";
input{
    margin: 10px;
}
th, td{
    text-align: left;
}
th, td{
    vertical-align: top;
}
table, th, td{
    border: solid 1px;
    border-collapse: collapse;
}
button{
    margin: 10px;
    font-size: 15px;
}
.bg-gray{
    background-color:gray;
}
#bg-lightgray{
    background-color:lightgray;
}
th, td{
    padding: 20px;
}
th, td{
    color: white;
}
.red{
    background-color: red;
    border-radius: 4px;
    font-size: 0.9rem;
}